<a href="https://colab.research.google.com/github/Anoop045/Assignment1/blob/main/Assign1a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [96]:
import pandas as pd

In [3]:
column=['Class Name','Left-Weight','Left-Distance','Right-Weight','Right-Distance']

In [4]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/balance-scale/balance-scale.data",names=column)

In [97]:
df

    Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance  Mean
0            B            1              1             1               1     0
1            R            1              1             1               2     1
2            R            1              1             1               3     2
3            R            1              1             1               4     3
4            R            1              1             1               5     4
..         ...          ...            ...           ...             ...   ...
620          L            5              5             5               1   620
621          L            5              5             5               2   621
622          L            5              5             5               3   622
623          L            5              5             5               4   623
624          B            5              5             5               5   624

[625 rows x 6 columns]

In [6]:
df['Class Name'].unique()

array(['B', 'R', 'L'], dtype=object)

In [8]:
df['Left-Weight'].unique()

array([1, 2, 3, 4, 5])

In [9]:
df['Left-Distance'].unique()

array([1, 2, 3, 4, 5])

In [10]:
df['Right-Weight'].unique()

array([1, 2, 3, 4, 5])

In [11]:
df['Right-Distance'].unique()

array([1, 2, 3, 4, 5])

In [12]:
df

    Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0            B            1              1             1               1
1            R            1              1             1               2
2            R            1              1             1               3
3            R            1              1             1               4
4            R            1              1             1               5
..         ...          ...            ...           ...             ...
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

[625 rows x 5 columns]

In [16]:
df.dtypes

Class Name        object
Left-Weight        int64
Left-Distance      int64
Right-Weight       int64
Right-Distance     int64
dtype: object

In [17]:
df.describe()

       Left-Weight  Left-Distance  Right-Weight  Right-Distance
count   625.000000     625.000000    625.000000      625.000000
mean      3.000000       3.000000      3.000000        3.000000
std       1.415346       1.415346      1.415346        1.415346
min       1.000000       1.000000      1.000000        1.000000
25%       2.000000       2.000000      2.000000        2.000000
50%       3.000000       3.000000      3.000000        3.000000
75%       4.000000       4.000000      4.000000        4.000000
max       5.000000       5.000000      5.000000        5.000000

In [25]:
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Left-Weight       3.0
Left-Distance     3.0
Right-Weight      3.0
Right-Distance    3.0
dtype: float64

In [24]:
df.mean(axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

0      1.00
1      1.25
2      1.50
3      1.75
4      2.00
       ...
620    4.00
621    4.25
622    4.50
623    4.75
624    5.00
Length: 625, dtype: float64

In [27]:
df.count

<bound method DataFrame.count of     Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0            B            1              1             1               1
1            R            1              1             1               2
2            R            1              1             1               3
3            R            1              1             1               4
4            R            1              1             1               5
..         ...          ...            ...           ...             ...
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

[625 rows x 5 columns]>

In [28]:
df

    Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0            B            1              1             1               1
1            R            1              1             1               2
2            R            1              1             1               3
3            R            1              1             1               4
4            R            1              1             1               5
..         ...          ...            ...           ...             ...
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

[625 rows x 5 columns]

In [32]:
df['Mean']=[i for i in range(625)]
df

    Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance  Mean
0            B            1              1             1               1     0
1            R            1              1             1               2     1
2            R            1              1             1               3     2
3            R            1              1             1               4     3
4            R            1              1             1               5     4
..         ...          ...            ...           ...             ...   ...
620          L            5              5             5               1   620
621          L            5              5             5               2   621
622          L            5              5             5               3   622
623          L            5              5             5               4   623
624          B            5              5             5               5   624

[625 rows x 6 columns]

In [39]:
df1=df.rename(columns={'Mean':'Index'})

In [40]:
df1

,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance,Index
0,B,1,1,1,1,0
1,R,1,1,1,2,1
2,R,1,1,1,3,2
3,R,1,1,1,4,3
4,R,1,1,1,5,4
...,...,...,...,...,...,...
620,L,5,5,5,1,620
621,L,5,5,5,2,621
622,L,5,5,5,3,622
623,L,5,5,5,4,623
624,B,5,5,5,5,624

In [46]:
df1=df1.drop(['Index'],axis=1)

In [47]:
df1

    Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0            B            1              1             1               1
1            R            1              1             1               2
2            R            1              1             1               3
3            R            1              1             1               4
4            R            1              1             1               5
..         ...          ...            ...           ...             ...
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

[625 rows x 5 columns]

In [49]:
df1['Total_weight']=df1['Left-Weight']+df1['Right-Weight']
df1

,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance,Total_weight
0,B,1,1,1,1,2
1,R,1,1,1,2,2
2,R,1,1,1,3,2
3,R,1,1,1,4,2
4,R,1,1,1,5,2
...,...,...,...,...,...,...
620,L,5,5,5,1,10
621,L,5,5,5,2,10
622,L,5,5,5,3,10
623,L,5,5,5,4,10
624,B,5,5,5,5,10

In [53]:
df1.isnull()

,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance,Total_weight
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
620,False,False,False,False,False,False
621,False,False,False,False,False,False
622,False,False,False,False,False,False
623,False,False,False,False,False,False
624,False,False,False,False,False,False

In [59]:
df1['Test']=[i**2 for i in range(625)]
df1

,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance,Total_weight,Test
0,B,1,1,1,1,2,0
1,R,1,1,1,2,2,1
2,R,1,1,1,3,2,4
3,R,1,1,1,4,2,9
4,R,1,1,1,5,2,16
...,...,...,...,...,...,...,...
620,L,5,5,5,1,10,384400
621,L,5,5,5,2,10,385641
622,L,5,5,5,3,10,386884
623,L,5,5,5,4,10,388129
624,B,5,5,5,5,10,389376

In [60]:
df1.isnull().sum()

Class Name        0
Left-Weight       0
Left-Distance     0
Right-Weight      0
Right-Distance    0
Total_weight      0
Test              0
dtype: int64

In [69]:
df1

,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance,Total_weight,Test
0,B,1,1,1,1,2,0
1,R,1,1,1,2,2,1
2,R,1,1,1,3,2,4
3,R,1,1,1,4,2,9
4,R,1,1,1,5,2,16
...,...,...,...,...,...,...,...
620,L,5,5,5,1,10,384400
621,L,5,5,5,2,10,385641
622,L,5,5,5,3,10,386884
623,L,5,5,5,4,10,388129
624,B,5,5,5,5,10,389376

In [78]:
df1.iloc[0:3]

,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance,Total_weight,Test
0,B,1,1,1,1,2,0
1,R,1,1,1,2,2,1
2,R,1,1,1,3,2,4

In [82]:
df1.iloc[2,4]

3

In [88]:
df1.iloc[:,1:4]

     Left-Weight  Left-Distance  Right-Weight
0              1              1             1
1              1              1             1
2              1              1             1
3              1              1             1
4              1              1             1
..           ...            ...           ...
620            5              5             5
621            5              5             5
622            5              5             5
623            5              5             5
624            5              5             5

[625 rows x 3 columns]

In [92]:
df1.loc[df1.Test<=400]

,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance,Total_weight,Test
0,B,1,1,1,1,2,0
1,R,1,1,1,2,2,1
2,R,1,1,1,3,2,4
3,R,1,1,1,4,2,9
4,R,1,1,1,5,2,16
5,R,1,1,2,1,3,25
6,R,1,1,2,2,3,36
7,R,1,1,2,3,3,49
8,R,1,1,2,4,3,64
9,R,1,1,2,5,3,81
10,R,1,1,3,1,4,100
11,R,1,1,3,2,4,121
12,R,1,1,3,3,4,144
13,R,1,1,3,4,4,169
14,R,1,1,3,5,4,196
15,R,1,1,4,1,5,225
16,R,1,1,4,2,5,256
17,R,1,1,4,3,5,289
18,R,1,1,4,4,5,324
19,R,1,1,4,5,5,361
20,R,1,1,5,1,6,400

In [93]:
df1.loc[df1.Test<=200,['Class Name','Total_weight','Test']]

   Class Name  Total_weight  Test
0           B             2     0
1           R             2     1
2           R             2     4
3           R             2     9
4           R             2    16
5           R             3    25
6           R             3    36
7           R             3    49
8           R             3    64
9           R             3    81
10          R             4   100
11          R             4   121
12          R             4   144
13          R             4   169
14          R             4   196

In [95]:
df1['dummy']=10
df1

,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance,Total_weight,Test,dummy
0,B,1,1,1,1,2,0,10
1,R,1,1,1,2,2,1,10
2,R,1,1,1,3,2,4,10
3,R,1,1,1,4,2,9,10
4,R,1,1,1,5,2,16,10
...,...,...,...,...,...,...,...,...
620,L,5,5,5,1,10,384400,10
621,L,5,5,5,2,10,385641,10
622,L,5,5,5,3,10,386884,10
623,L,5,5,5,4,10,388129,10
624,B,5,5,5,5,10,389376,10